<template>
	<div class='create-field'>
		<h3>Добавить нового сотрудника:</h3>
		<hr>

		<form action="" class='form-holder'>
			<input name="surname" type="text" placeholder="Фамилия">
			<input name="name" type="text" placeholder="Имя">
			<input name="patronymic" type="text" placeholder="Отчество">
			<input name="subdivision" type="text" placeholder="Подразделение">
			<input name="post" type="text" placeholder="Должность">
			
			<div class="btn btn-info" type='submit' @click="add">add</div>
		</form>
	</div>
</template>

<script>
import StructureService from './StructureService.js';

export default {

  name: 'CreateField',

  data () {
    return {

    }
  },
  methods: {
  	add() {
  		let form = Array.from(document.forms[0]);
  		let newObj = {
  			id: StructureService.data.length+1
  		};

  		form.forEach(el=>{
  			newObj[el.name] = el.value
  		})

  		console.log(newObj);
  		StructureService.add(newObj);
  		form.forEach(el=>{
  			el.value = null;
  		})
  	}
  },
}
</script>

<style lang="css" scoped>
	.create-field {
		padding: 10px;
		background: #BFBFBF;
		width: 100%;
		margin-left: 5px;
	}

	.form-holder {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-holder input {
		margin: 10px;
		padding: 5px;
		border-radius: 10px;
		width: 100%;
	}

	.btn {
		width: 100px;
	}
</style>