<template>

	<div class='details'>
		<h2>{{fullName}}</h2>
		<hr>
		<p>Должность: {{person.post}}</p>
		<p>Подразделение: {{person.subdivision}}</p>
		<p>E-mail: {{person.mail}}</p>
		<div class="btn btn-success" @click="exit">Назад</div>
	</div>

</template>

<script>
import StructureService from "./StructureService.js";
export default {

  name: 'Details',
  props: ['person'],
  
  computed: {
  	fullName() {
  		return `${this.person.surname} ${this.person.name} ${this.person.patronymic}`
  	}
  },
  methods: {
  	exit() {
  		StructureService.$emit('onDetailsExit')
  	}
  }
}
</script>

<style lang="css" scoped>
.details {
	position: relative;
	margin-left: 5px;
	padding: 30px;
	background: #B6B6B6;
	display: flex;
	flex-direction: column;
	width: 100%;
}

hr {
	width: 100%;
}

.btn {
	/*align-self: center;*/
	width: 70px;
}


</style>