<template>
	<div class='left-bar'>
		<h5>Отображать:</h5>
		<ul class='sortTipe-holder'>
			<li class='sortTipe-item'>
				<div class="btn btn-secondary"
					:class="{active: (activeMode == 'alphabet-mode')}"
					@click="$emit('changeMode', 'alphabet-mode')"
				>
					по алфавиту
				</div>
			</li>
			<li class='sortTipe-item'>
				<div class="btn btn-secondary"
					:class="{active: (activeMode == 'structure-mode') }"
					@click="$emit('changeMode', 'structure-mode')"
				>
					по структуре
				</div>
			</li>
			<li class='create-mode'>
				<div class="btn btn-info"
					:class="{active: (activeMode == 'create-mode')}"
					@click="$emit('changeMode', 'create-mode')"
				>
					создание
				</div>
			</li>
		</ul>
	</div>
</template>

<script>

import StructureService from "./StructureService.js";

export default {

  name: 'LeftBar',
  props: ['activeMode'],
  data () {
    return {

    }
  },
  methods: {
  	
  },
  computed: {
  	changeActiveMode() {
  		if (this.activeMode == 'alphabet-mode') {
  			return 'alphabet-mode'
  		} else if (this.activeMode == 'structure-mode') {
  			return 'structure-mode'
  		} else {
  			return 'create-mode'
  		}
  	}
  }
}
</script>

<style lang="css" scoped>
	.left-bar {
		background: #A2A2A2;
		flex-grow: 1;
		padding: 10px;
		max-width: 250px;
		min-width: 250px;
	}

	li {
		list-style-type: none;
	}

	.sortTipe-holder {
		margin: 0;
		padding: 0;
	}

	.sortTipe-item {
		list-style-type: none;
		border-bottom: 1px solid #B6B6B6;
	}

	.btn {
		margin: 5px 0;
		width: 60%;
	}

	.active {
		background-color: black;
	}
</style>