<template>
	<div class="list-item" @dblclick='pickWorker'>
		<!-- <h1>hello</h1> -->
		<div >{{fullName}}</div>
		<i>{{person.post}}</i>
	</div>
</template>

<script>
import StructureService from "./StructureService.js"
export default {

	name: 'Person',
	props: ['person'],
	
	data () {
		return {
			data: '',
		}
	},
	computed: {
		fullName() {
			return `${this.person.surname} ${this.person.name} ${this.person.patronymic}`
		}
	},
	methods: {
		pickWorker() {
			StructureService.$emit('onDetails', this.person)
		}
	}
}
</script>

<style lang="css" scoped>
.list-item {
	display: flex;
	justify-content: space-between;
	background: #60656F;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.list-item:hover {
	background: #A6ADBB;
}

.list-item:hover i {
	color: black;
}

i {
	color: #ACACAC;
}
</style>