<template>
	<div class="right-bar">
		<search @onSearchInput='getInputValue' @onSearchModeChange="searchMode"></search>
		<result-display :data="data"
						:searchMode="localSearchMode"
						:searchString="searchString"
		>
		</result-display>
	</div>
</template>

<script>

import Search from "./Search.vue";
import ResultDisplay from "./ResultDisplay.vue"
import StructureService from "./StructureService.js"

export default {

	name: 'RightBar',
	components: {
		Search,
		ResultDisplay,
	},
	data () {
		return {
			data: [],
			searchString: '',
			localSearchMode: 'surname',
		}
	},
	created() {
		this.data = StructureService.data;
	},
	methods: {
		getInputValue(value) {
			this.searchString = value;
		},
		searchMode(val) {
			this.localSearchMode = val
		}
	}

}
</script>

<style lang="css" scoped>

	.right-bar {
		flex-grow: 3;
		padding: 10px;
		background: #BFBFBF;
		margin-left: 5px;

		display: flex;
		flex-direction: column;
	}

	.block1, .block2 {
		background: #8F8F8F;
		margin-bottom: 10px;
	}

	.block1 {
		height: 30px;
	}

	.block2 {
		flex-grow: 1
	}
</style>