<template>

	<div class='structureBar'>
		<h1>Structure Bar</h1>

		<subdivision v-for="item in filterBySubdivision"
					 :subdivName='item'
					 :key="filterBySubdivision.indexOf(item)"
		>
		</subdivision>
	</div>
	
</template>

<script>
import StructureService from "./StructureService.js";
import Subdivision from "./Subdivision.vue";

export default {

	name: 'StructureBar',

	data () {
		return {
			data: []
		}
	},
	components: {
		Subdivision
	},
	created() {
		this.data = StructureService.data;
	},
	computed: {
		filterBySubdivision() {
			return getAllSubdivisions(this.data).sort();
		}
	}
}

function getAllSubdivisions(data) {
	let subdivArr = [];
	data.forEach(el=>{
		if (subdivArr.indexOf(el.subdivision) == -1) {
			subdivArr.push(el.subdivision)
		}
	})
	return subdivArr;
}

</script>

<style lang="css" scoped>

	.structureBar {
		padding: 10px;
		background: #8f8f8f;
		width: 100%;
		margin-left: 5px;
		color: white;
	}

</style>