<template>
	<div class="subdivision">

		<div class="list-item" @click='showSublist'>
			{{subdivName}}
		</div>
		<div class="sublist" :class="{show: isShow}">
			<!-- <div v-for="item in separateByName">{{item}}</div> -->
			<person  v-for="item in separateByName"
						:key='item.id'
						:person="item"
						class='person-listItem'
			></person>
		</div>
	</div>
</template>

<script>
import StructureService from "./StructureService.js";
import Person from "./Person.vue";

export default {

	name: 'Subdivision',
	props: ['subdivName'],
	data () {
		return {
			mainData: [],
			isShow: false
		}
	},
	components: {
		Person
	},
	created() {
		this.mainData = StructureService.data;
	},
	computed: {
		separateByName() {
			return this.mainData.filter(el=>{
				return el.subdivision == this.subdivName
			})
		}
	},
	methods: {
		showSublist() {
			this.isShow = !this.isShow
		}
	}
}
</script>

<style lang="css" scoped>
	

	.list-item {
		background: #767676;
		margin: 5px 0;
		padding: 5px;
		cursor: pointer;
	}

	.list-item:hover {
		background: #656565;
	}

	.sublist {
		position: relative;
		display: none;
		margin-left: 20px;
	}

	.person-listItem {
		position: relative;
		background:#678590;
	}

	.person-listItem:hover {
		background: #D97878
	}

	.person-listItem:before {
		content: '';
		display: block;
		border-left: 1px solid #6B6767;
		border-bottom: 1px solid #6B6767;
		position: absolute;
		width: 10px;
		height: 10px;
		left: -15px;
		top: 5px;
	}



	.show {
		display: block;
	}

</style>