<template>
	<div class="structure">
		<left-bar :activeMode='displayMode' @changeMode='changeDisplayMode'></left-bar>

		<keep-alive @onDetails='goToDetails'>
			<component :is="changeMode" :person="pickedPerson"></component>
		</keep-alive>
		
		<!-- <right-bar></right-bar> -->
		<!-- <structure-bar></structure-bar> -->
		<!-- <create-field></create-field> -->
		
	</div>
</template>

<script>

import StructureService from './components/StructureService.js';
import LeftBar from './components/LeftBar.vue';
import RightBar from './components/RightBar.vue';
import StructureBar from './components/StructureBar.vue';
import CreateField from './components/CreateField.vue';
import Details from './components/Details.vue';

export default {
	name: 'app',
	components: {
		LeftBar,
		RightBar,
		StructureBar,
		CreateField,
		Details
	},
	data () {
		return {
			displayMode: 'alphabet-mode',
			previousMode: null,
			pickedPerson: {},

		}
	},
	created() {
		StructureService.$on('onDetails', (person)=>{
			this.previousMode = this.displayMode;
			this.displayMode = 'details-mode';
			this.pickedPerson = person;
		});

		StructureService.$on('onDetailsExit', ()=>{
			this.displayMode = this.previousMode
		})
	},
	computed: {
		changeMode() {
			if (this.displayMode == 'alphabet-mode') {
				return RightBar
			} else if (this.displayMode == 'structure-mode') {
				return StructureBar
			} else if (this.displayMode == 'details-mode') {
				return Details
			} else {
				return CreateField
			}
		}
	},
	methods: {
		changeDisplayMode(val) {
			this.displayMode = val
		},
		goToDetails(person) {
			console.log('goToDetails')
		}
	}
}
</script>

<style>
	.structure {
		display: flex;
		max-width: 900px;
		background: #DBDBDB;
		margin: 0 auto;
		min-height: 100vh;
		padding: 5px;
	}

	
</style>
